<nav class="sidebar col-md-3 col-lg-2 p-0 bg-body-tertiary border-end">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" id="sidebarMenu">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Company name</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" href="#"><svg class="bi"><use xlink:href="#house-fill"></use></svg> Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#file-earmark"></use></svg> Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#cart"></use></svg> Products</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#people"></use></svg> Customers</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#graph-up"></use></svg> Reports</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#puzzle"></use></svg> Integrations</a></li>
      </ul>

      <h6 class="sidebar-heading px-3 mt-4 mb-1 text-uppercase text-body-secondary">Saved reports</h6>
      <ul class="nav flex-column mb-auto">
        <li><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#file-earmark-text"></use></svg> Current month</a></li>
        <li><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#file-earmark-text"></use></svg> Last quarter</a></li>
        <li><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#file-earmark-text"></use></svg> Social engagement</a></li>
        <li><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#file-earmark-text"></use></svg> Year-end sale</a></li>
      </ul>

      <hr class="my-3">
      <ul class="nav flex-column mb-auto">
        <li><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#gear-wide-connected"></use></svg> Settings</a></li>
        <li><a class="nav-link" href="#"><svg class="bi"><use xlink:href="#door-closed"></use></svg> Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
